
body {
  background: #222;
}

.mdl-grid:first-of-type .mdl-cell {
  height: 200px;
  text-align: center;
  vertical-align: middle;
}

$width: 200px;
$height: 50px;
$primary_color: #3084AC;
$item_color: #e5c100;
$border_color--hover: lighten($primary_color, 80);
$stroke: 3px;
$border: $stroke solid darken($primary_color, 10);
$transition_duration: 100ms;
$pipeline_width: $width+$stroke;
$pipeline_height: $height+$stroke;
$pipes: 4;

@function border-pipeline ($transition_duration, $pipe) {
  @return $transition_duration*$pipe;
}

@mixin box() {
  width: $width;
  height: $height;
  background: $primary_color;
  margin: auto;
  border: $border;
  text-align: center;
  color: #fff;
  position: relative;
  top: 50px;
  cursor: pointer;
  line-height: 50px;
}

@mixin border-animation($dimension, $easing ,$pipe ) {
  transition: $transition_duration $dimension $easing border-pipeline($transition_duration, $pipe);
  -web-kit-transition: $transition_duration $dimension $easing border-pipeline($transition_duration, $pipe);
}

.box {
  @include box();
  transition: ($transition_duration*$pipes)+$transition_duration ease-out;
  &:before {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: $item_color;
    top: -$stroke;
    left: -$stroke;
    @include border-animation(width, ease, 3);
  }
  &:after {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: $item_color;
    top: -$stroke;
    right: -$stroke;
    @include border-animation(height, ease, 2);
  }
  &-inner:after {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: $item_color;
    bottom: -$stroke;
    right: -$stroke;
    @include border-animation(width, ease, 1);
  }
  &-inner:before {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: $item_color;
    bottom: -$stroke;
    left: -$stroke;
    @include border-animation(height, ease, 0);
  }
  &:hover {
    border-color: transparent;
    background: darken($primary_color, 30);
    &:before {
      width: $pipeline_width;
      @include border-animation(width, ease, 0);
    }
    &:after {
      height: $pipeline_height;
      @include border-animation(height, ease, 1);
    }
    .box-inner:after {
      width: $pipeline_width;
      @include border-animation(width, ease, 2);
    }
    .box-inner:before {
      height: $pipeline_height;
      @include border-animation(height, ease, 3);
    }
  }
}

.box1 {
  @include box();
  transition: ($transition_duration*$pipes)+$transition_duration ease-out;
  &:before {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: $item_color;
    top: -$stroke;
    left: -$stroke;
    @include border-animation(width, ease, 1);
  }
  &:after {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: $item_color;
    top: -$stroke;
    right: -$stroke;
    @include border-animation(height, ease, 1);
  }
  &-inner:after {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: $item_color;
    bottom: -$stroke;
    right: -$stroke;
    @include border-animation(width, ease, 1);
  }
  &-inner:before {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: $item_color;
    bottom: -$stroke;
    left: -$stroke;
    @include border-animation(height, ease, 1);
  }
  &:hover {
    border-color: transparent;
    background: darken($primary_color, 10);
    &:before {
      width: $pipeline_width;
      @include border-animation(width, ease, 3);
    }
    &:after {
      height: $pipeline_height;
      @include border-animation(height, ease, 3);
    }
    .box1-inner:after {
      width: $pipeline_width;
      @include border-animation(width, ease, 3);
    }
    .box1-inner:before {
      height: $pipeline_height;
      @include border-animation(height, ease, 3);
    }
  }
}

.box2 {
  @include box();
  transition: ($transition_duration*$pipes)+$transition_duration ease-out;
  &:before {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: $item_color;
    top: -$stroke;
    left: -$stroke;
    @include border-animation(width, ease, 5);
  }
  &:after {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: $item_color;
    top: -$stroke;
    right: -$stroke;
    @include border-animation(height, ease, 3);
  }
  &-inner:after {
    position: absolute;
    width: 0;
    height: $stroke;
    content: '';
    background: $item_color;
    bottom: -$stroke;
    right: -$stroke;
    @include border-animation(width, ease, 3);
  }
  &-inner:before {
    position: absolute;
    width: $stroke;
    height: 0;
    content: '';
    background: $item_color;
    bottom: -$stroke;
    left: -$stroke;
    @include border-animation(height, ease, 2);
  }
  &:hover {
    border-color: transparent;
    background: darken($primary_color, 30);
    &:before {
      width: $pipeline_width;
      @include border-animation(width, ease, 5);
    }
    &:after {
      height: $pipeline_height;
      @include border-animation(height, ease, 4);
    }
    .box2-inner:after {
      width: $pipeline_width;
      @include border-animation(width, ease, 3);
    }
    .box2-inner:before {
      height: $pipeline_height;
      @include border-animation(height, ease, 2);
    }
  }
}